#=================================================
# https://github.com/wukongdaily/RunFilesBuilder
# Description: Build RunFiles using GitHub Actions
# Lisence: MIT
# Author: wukongdaily
# Blog: wkdaily.cpolar.cn
#=================================================

name: NEW Make Passwall2 run files

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Fetch latest release tag from Passwall2
        id: fetch_latest_tag
        run: |
          latest_tag=$(curl -s https://api.github.com/repos/Openwrt-Passwall/openwrt-passwall2/releases/latest | jq -r '.tag_name')
          echo "LATEST_TAG=$latest_tag" >> $GITHUB_ENV

      - name: Clone makeself repository
        run: git clone https://github.com/megastep/makeself.git

      - name: Download latest Passwall2 files
        run: |
          mkdir -p downloads
          cd downloads

          # 下载 x86_64 ipk
          curl -L -O $(
            curl -s https://api.github.com/repos/Openwrt-Passwall/openwrt-passwall2/releases/tag/26.1.1-1 \
            | jq -r '.assets[] | select(.name | test("passwall_packages_ipk_x86_64\\.zip")) | .browser_download_url'
          )
          # 下载luci_app_ipk
          curl -L -O $(
            curl -s https://api.github.com/repos/Openwrt-Passwall/openwrt-passwall2/releases/latest \
            | jq -r '.assets[] | select(.name | test("luci-.*-passwall2.*\\.ipk")) | .browser_download_url' | head -1
          )
          # 下载luci语言包ipk
          curl -L -O $(
            curl -s https://api.github.com/repos/Openwrt-Passwall/openwrt-passwall2/releases/latest \
            | jq -r '.assets[] | select(.name | test("luci-.*-passwall2.*\\.ipk")) | .browser_download_url' | tail -1
          )
      
      - name: Organize files for x86_64
        run: |
          mkdir -p passwall_x86_64/depends passwall_x86_64/main
          unzip downloads/passwall_packages_ipk_x86_64.zip -d passwall_x86_64/depends
          rm downloads/passwall_packages_ipk_x86_64.zip
          cp downloads/luci-*.ipk passwall_x86_64/main/

      - name: Create install.sh scripts
        run: |
          cat <<EOF > passwall_x86_64/install.sh
          !/bin/sh
          pw2_ver=`ls |grep luci-app|awk -F'[_]' '{print $2}'`
          pw2zh_ver=`ls |grep luci-i18n|awk -F'[_-]' '{print $6}'`
          opkg update
          if [ $? -ne 0 ]; then
            echo "更新软件源列表错误，请检查路由器自身网络连接以及是否有失效的软件源。"
            exit 1
          fi
          opkg install iptables-mod-tproxy iptables-mod-socket iptables-mod-iprange iptables-mod-conntrack-extra
          opkg install depends/*.ipk
          opkg install main/*.ipk
          EOF
          chmod +x passwall_x86_64/install.sh

      - name: Move passwall2 directories to makeself
        run: |
          mv passwall_x86_64 makeself/

      - name: Create self-extracting packages
        run: |
          cd makeself
          ./makeself.sh passwall_x86_64/ passwall2_x86_64_${{ env.LATEST_TAG }}.run "by github action" ./install.sh

      - name: Check file sizes
        run: |
          ls -lh makeself/passwall2*.run

      - name: Preparing release name
        run: |
          release_name=$(TZ="Asia/Shanghai" date +'%Y-%m-%d %H:%M Build')
          echo "RELEASE_NAME=$release_name" >> $GITHUB_ENV

      - name: Fetch latest release details
        id: fetch_release_details
        run: |
          extra_content="![Github](https://img.shields.io/badge/Passwall2.run-123456?logo=github&logoColor=fff&labelColor=green&style=for-the-badge) [![Github](https://img.shields.io/badge/国内加速站下载-FC7C0D?logo=github&logoColor=fff&labelColor=000&style=for-the-badge)](https://wkdaily.cpolar.cn/archives/1) ![GitHub Downloads (all assets, specific tag)](https://img.shields.io/github/downloads/wukongdaily/RunFilesBuilder/${{ env.LATEST_TAG }}/total?style=for-the-badge&labelColor=black&color=%2325c2a0)"
          release_notes=$(curl -s https://api.github.com/repos/xiaorouji/openwrt-passwall2/releases/latest | jq -r '.body')
          if [ -z "$release_notes" ]; then
            release_notes="No release notes available."
          fi
          echo -e "$extra_content\n\n$release_notes" > release_notes.md

      - name: Print release notes
        run: |
          cat release_notes.md

      - name: Generate new tag & release
        uses: softprops/action-gh-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.LATEST_TAG }}
          target_commitish: ${{ github.ref_name }}
          prerelease: false
          body_path: release_notes.md      
      
      - name: Upload all .run files to GitHub Release
        uses: softprops/action-gh-release@v2.1.0
        with:
          tag_name: ${{ env.LATEST_TAG }}
          name: "PassWall2-${{ env.LATEST_TAG }}"
          files: makeself/passwall2*.run
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
